<h1>Политика конфиденциальности:</h1>

<h2>Команда Friendly food bot считает крайне важным, чтобы пользователи были уверены в безопасности использования нашего инструмента.</h2>
<h3>Поэтому:</h3>
<p>1. Мы никому не разглашаем информацию о Ваших покупках, совершенных при помощи Friendly food bot, кроме кафе или сети общественного питания, в котором была приобретена продукция.</p>
<p>2. Мы не обрабатываем Ваши платежи и не храним никаких данных о них. Все денежные транзакции проходят через систему LiqPay.</p>
<p>3. Совершая покупку - Вы получаете уведомление об успешной оплате, в котором указаны код заказа и код подтверждения. Его знаете только Вы и кафе или сеть общественного питания, в котором была приобретена продукция. Эту информацию мы никак не можем использовать в собственных целях.</p>
<p>4. Для того, чтобы подарить приобретённую Вами продукцию третьему лицу - Вам необходимо передать ему код заказа и код подтверждения. После передачи Вами этой информации третьему лицу - она становится доступна трём сторонам: Вам, кафе или сети общественного питания, в котором была приобретена продукция, и третьему лицу, которому Вы передали информацию.</p>
<p>5. Мы настоятельно рекомендуем не делиться кодом заказа и кодом подтверждения с более чем одним третьим лицом, так как приобретённая продукция всего одна, а желающих получить ее будет больше.</p>
<p>6. Приобретенная Вами продукция будет доступна в течении 14 дней с момента ее приобретения. Мы настоятельно рекомендуем Вам учитывать этот факт при совершении покупки. По истечении указанного срока продукция будет недоступна и денежного возврата за неё не будет.</p>
<p>7. Мы не несём ответственность за качество продукции, которую Вы приобрели.</p>
<p>8. Мы не можем гарантировать, что продукция, приобретённая Вами, будет доступна для получения в любой момент времени.</p>
<p>9. Если у вас возникнет желание получить деньги назад - мы не можем гарантировать, что кафе или сеть общественного питания, в котором была приобретена продукция, вернёт Вам деньги.</p>